{% extends 'base.html' %}
{% load extratags %}
{% block csstyle %}
    <style>
    .profile
    {
        width: 80%;
        height: 500px;
        margin: 50px 0;
        border: 1px solid #eee;
    }
    .profile > p{
        height: 40px;
        background-color: lightgray;
        color: black;
        line-height: 40px;
        padding-left: 10px;
    }
    img{
        width: 150px;
        height: 150px;
        border-radius: 75px;
        position: absolute;
        transform: translateX(-50%);left: 50%;
        top:40px;
    }
    div.right{
        float: left;
        width: 60%;
    }
    div.right > div{
        border-bottom: 1px solid #eee;
        padding: 17px 30px;
    }
    div.right > div > input{
        width: 300px;
    }
    </style>
{%  endblock %}
{% block content %}
    <div style="width: 80%;margin: auto">
       <div class="profile">
           <p>User Profile</p>
           <form style="overflow: hidden;margin-top: -10px" method="post" action="/profile/" id="form1">
               <input name="id" style="display: none;" value="{{ user.id }}"/>
               <div style="float: left;width: 40%;border-right:1px solid #eee">
                   <div style="height: 300px; position: relative;border-bottom: 1px solid #eee;">
                       <img {% if user.image %}src="{{ user.image.url }}" {% endif %} id="avatar">
                       <input type="file" name="photo" style="display: none;" id="upload-img"/>
                       {% if myself %}
                       <button type="button" class="btn btn-info" id="upload-img-btn" style="position: absolute;transform: translateX(-50%);left: 50%; bottom:40px">
                           Change Picture
                       </button>
                       {% endif %}

                   </div>
                   <div style="height: 150px;position: relative">
                       {% if myself %}
                           <div style="position: absolute;top: 50%;transform: translateY(-50%)translateX(-50%);left: 50%;">
                            <input type="password" name="password" id="password">
                            <button type="button" class="btn btn-info" onclick="change_password()">
                               Change Password
                            </button>
                           </div>
                       {% endif %}
                   </div>
               </div>
               <div class="right">
                   <div>
                       <span>User:</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input name="name" value="{{ user.last_name | format_none}}">
                   </div>
                   <div>
                       <span>Hobby:</span>&nbsp&nbsp&nbsp<input name="interest" value="{{ user.interest |format_none }}">
                   </div>
                   <div>
                       <span>Gender:</span>&nbsp&nbsp&nbsp
                       <label style="width: 80px;margin-left: 40px"><input name="sex" type="radio" value="0" {% if user.sex == 0 %} checked {% endif %}/>male </label>
                       <label><input name="sex" type="radio" value="1" {% if user.sex == 1 %} checked {% endif %}/>female </label>
                   </div>
                   <div>
                       <span>address:</span>&nbsp&nbsp&nbsp<input name="address" value="{{ user.address | format_none}}">
                   </div>
                   <div>
                       <span>phone:</span><input name="phone" value="{{ user.phone | format_none }}">
                   </div>
                   <div>
                       <span>email:</span>&nbsp&nbsp<input name="email" value="{{ user.email |format_none }}">
                   </div>
                   {% if myself %}
                   <div style="border: none;position: relative;height: 94px;">
                       <input type="submit" class="btn btn-info" style="width:100px;position: absolute;top: 50%;transform: translateY(-50%)translateX(-50%);left: 50%;">
                   </div>
                   {% endif %}
               </div>
               {% csrf_token %}
           </form>
       </div>

    </div>
{% endblock %}

{% block js %}
    <script type="application/javascript">
    $(document).ready(function(){
        $('#upload-img-btn').click(function(){
            $('#upload-img').click();
        });

        $('#upload-img').change(function () {

            if($(this).val() != ""){
                fileLoad(this);
            }
        })

    });

    function change_password() {
        var password = $("#password").val()
        $.post("/reset-password/",{"password":password,"csrfmiddlewaretoken":"{{ csrf_token }}"},function(result){
            alert("Successfully changed");
          });

    }

    function fileLoad(ele){
        var formData = new FormData();

        var name = $(ele).val();

        var files = $(ele)[0].files[0];

        formData.append("file", files);
        formData.append("name", name);
        formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");
        $.ajax({
            url: "/change-avatar/",
            type: 'POST',
            data: formData,
            processData: false,// jquery don't process the data
            contentType: false, // jQuery not to set Content-Type
            beforeSend: function () {
            },
            success: function (responseStr) {
               // successfully change
               $("#avatar").attr("src", JSON.parse(rchengedesponseStr)['avatar'] + "?a"+Date());
               alert("Successfully changed");
            }
            ,
            error : function (FresponseStr) {
                alert("Fail to edit");
            }
        });
    }


    </script>
{% endblock %}